*{
    margin: 0;
    padding: 0;
}
.text
{
   padding-left: 500px;
}
.navbar-Content 
{
    display: flex;
    text-align: center;
    list-style: none;
}
.nav-link
{
    color: gray;
    padding-left: 30px;
    text-decoration: none;
}
.nav-link:hover
{
    text-decoration: underline;
    color: white;
}
footer
{
    background-color: black;
    color: lightgray;
}
footer a{
    text-decoration: none;
    color: gray;
}
footer a:hover
{
color: white;
text-decoration: underline;
}
.below-footer
{
    background-color: black;
}
.below-footer li
{
    color: gray;
    display: inline-block;
    text-align: center;
     padding-right: 20px;
}

.below-footer ul li a{
    text-decoration: none;
    color: gray;
}
.below-footer ul li :hover
{
    color: white;
    text-decoration: underline;
}
@media(max-width:767px)
{
    .container img {
    width: 90%;
    }
}